Repository Gabsii/spoti-vote, pull requests merged in 2019-08, with the labels that each got.

#105 Fixed Issue #103
  frontend/src/components/App/Footer.jsx
  frontend/src/components/App/Footer/PlayButtons.jsx
  frontend/src/components/Dashboard/Main/Carousel.jsx
  frontend/src/components/Login/Header.jsx
  frontend/src/components/Login/LoginButton.jsx
  frontend/src/index.js
  frontend/src/pages/App.jsx
  frontend/src/pages/Loading.jsx
  now.json
Labels: enhancement, high priority

#106 Addition of Skip Socket Event, addition of isPlaying in the activePlayer object, change in indentation
  .eslintrc.json
  backend/Classes/Room.js
  backend/Classes/User.js
  backend/__tests__/backend.test.js
  backend/app.js
  backend/lib.js
  backend/server.js
  frontend/src/pages/App.jsx
  package.json
Labels: size/XXL

#109 New Testing for the backend
  backend/__tests__/backend.test.js_old
  backend/__tests__/fullSuiteTest.test.js
  backend/app.js
  backend/server.js
  frontend/src/pages/Dashboard.jsx
  package.json
Labels: size/M

#108 Fixed #107 and Frontend Tests
  .eslintrc.json
  README.md
  frontend/config/modules.js
  frontend/config/webpackDevServer.config.js
  frontend/scripts/build.js
  frontend/scripts/start.js
  frontend/scripts/test.js
  frontend/src/__tests__/frontend.test.js
  frontend/src/components/App/AppSidebar.jsx
  frontend/src/components/App/AppSidebar/Infos.jsx
  frontend/src/components/App/AppSidebar/RerollButton.jsx
  frontend/src/components/App/AppSidebar/SettingsBar.jsx
  frontend/src/components/App/Cards/Card.jsx
  frontend/src/components/App/Cards/CardContainer.jsx
  frontend/src/components/App/Cards/ShareButton.jsx
  frontend/src/components/App/Footer.jsx
  frontend/src/components/App/Footer/PlayButtons.jsx
  frontend/src/components/App/Footer/ProgressBar.jsx
  frontend/src/components/Dashboard/Main/Carousel.jsx
  frontend/src/components/Dashboard/Main/Logins.jsx
  frontend/src/components/Rooms/SearchRooms.jsx
  frontend/src/components/Shared/SharedSidebar/Navbar.jsx
  frontend/src/pages/App.jsx
  frontend/src/pages/Dashboard.jsx
  frontend/src/pages/Login.jsx
  frontend/src/pages/Rooms.jsx
  frontend/src/registerServiceWorker.js
  package.json
Labels: size/L

#110 Many backend error fixes for skipping and play/pause
  backend/Classes/Room.js
  backend/app.js
Labels: size/L
