Repository Gabsii/spoti-vote, pull requests merged in 2020-10, with the labels that each got.

#167 Create greetings.yml
  .github/workflows/greetings.yml
Labels: size/S

#164 Create stale.yml
  .github/workflows/stale.yml
Labels: size/S

#227 Vercel backend
  .eslintignore
  .eslintrc.json
  .github/workflows/label.yml
  .gitignore
  README.md
  backend/Classes/App.js
  backend/Classes/Room.js
  backend/Classes/User.js
  backend/__tests__/fullSuiteTest.test.js
  backend/__tests__/helper/data.json
  backend/__tests__/helper/spotifyServer.js
  backend/api/callback.js
  backend/api/login.js
  backend/api/profile.js
  backend/api/rooms.js
  backend/api/rooms/[roomId]/checkToken.js
  backend/api/rooms/[roomId]/connectUser.js
  backend/api/rooms/[roomId]/delete.js
  backend/api/rooms/[roomId]/pause.js
  backend/api/rooms/[roomId]/selectPlaylist.js
  backend/api/rooms/[roomId]/skip.js
  backend/api/rooms/[roomId]/update.js
  backend/api/rooms/[roomId]/volume.js
  backend/api/rooms/[roomId]/vote.js
  backend/api/rooms/checkCreate.js
  backend/api/rooms/create.js
  backend/handler/Classes/Host.js
  backend/handler/Classes/Room.js
  backend/handler/handler.js
  backend/lib.js
  backend/server.js
  frontend/src/components/App/AppSidebar.jsx
  frontend/src/components/App/AppSidebar/Infos.jsx
  frontend/src/components/App/AppSidebar/RerollButton.jsx
  frontend/src/components/App/AppSidebar/SettingsBar.jsx
  frontend/src/components/App/AppSidebar/UserContainer.jsx
  frontend/src/components/App/Cards/Card.jsx
  frontend/src/components/App/Cards/CardContainer.jsx
  frontend/src/components/App/Footer.jsx
  frontend/src/components/App/Footer/ProgressBar.jsx
  frontend/src/components/App/Footer/SongAggregation.jsx
  frontend/src/components/App/Footer/VolumeBar.jsx
  frontend/src/components/Dashboard/Main.jsx
  frontend/src/components/Dashboard/Main/Carousel.jsx
  frontend/src/components/Dashboard/Main/Logins.jsx
  frontend/src/components/Login/LoginButton.jsx
  frontend/src/components/Login/LoginCode.jsx
  frontend/src/components/Rooms/RoomContainer.jsx
  frontend/src/components/Shared/SharedSidebar.jsx
  frontend/src/components/Shared/SharedSidebar/Profile.jsx
  frontend/src/index.js
  frontend/src/js/constants.js
  frontend/src/pages/App.jsx
  frontend/src/pages/Dashboard.jsx
  frontend/src/pages/Rooms.jsx
  frontend/src/serviceWorker.js
  package-lock.json
  package.json
Labels: size/XXL

#239 move devDependencies to dependencies (needed for builds and so on)
  package.json
Labels: size/S

#257 Vercel deployment
  api/.gitignore
  frontend/src/components/App/AppSidebar.jsx
  frontend/src/components/App/AppSidebar/Infos.jsx
  frontend/src/components/App/AppSidebar/RerollButton.jsx
  frontend/src/components/App/AppSidebar/SettingsBar.jsx
  frontend/src/components/App/AppSidebar/UserContainer.jsx
  frontend/src/components/App/Cards/Card.jsx
  frontend/src/components/App/Cards/CardContainer.jsx
  frontend/src/components/App/Cards/ShareButton.jsx
  frontend/src/components/App/Footer.jsx
  frontend/src/components/App/Footer/PlayButtons.jsx
  frontend/src/components/App/Footer/ProgressBar.jsx
  frontend/src/components/App/Footer/SongAggregation.jsx
  frontend/src/components/App/Footer/VolumeBar.jsx
  frontend/src/components/Dashboard/Main.jsx
  frontend/src/components/Dashboard/Main/Carousel.jsx
  frontend/src/components/Dashboard/Main/Logins.jsx
  frontend/src/components/Dashboard/Main/Spinner.jsx
  frontend/src/components/Dashboard/Main/TopType.jsx
  frontend/src/components/Login/BarItem.jsx
  frontend/src/components/Login/CookieMessage.jsx
  frontend/src/components/Login/Header.jsx
  frontend/src/components/Login/LoginButton.jsx
  frontend/src/components/Login/LoginButtonSecondary.jsx
  frontend/src/components/Login/LoginCode.jsx
  frontend/src/components/Login/LoginFooter.jsx
  frontend/src/components/Login/NavItem.jsx
  frontend/src/components/Login/SocialIcon.jsx
  frontend/src/components/Rooms/Room.jsx
  frontend/src/components/Rooms/RoomContainer.jsx
  frontend/src/components/Rooms/SearchRooms.jsx
  frontend/src/components/Shared/SharedSidebar.jsx
  frontend/src/components/Shared/SharedSidebar/Navbar.jsx
  frontend/src/js/constants.js
  frontend/src/pages/App.jsx
  frontend/src/pages/Dashboard.jsx
  frontend/src/pages/Join.jsx
  frontend/src/pages/Loading.jsx
  frontend/src/pages/Login.jsx
  frontend/src/pages/NotFound.jsx
  frontend/src/pages/Policies.jsx
  frontend/src/pages/Rooms.jsx
  frontend/src/pages/Usage.jsx
Labels: size/M
